.Modal {
       width: 100vw;
       height: 100vh;
       position: fixed;
       z-index: 500;
       background-color: #292929;
       box-shadow: 1px 1px 1px black;
       border-radius: 8px;
       padding: 10px 12px;
       top: 0;
       left: 0;
       transition: opacity 0.3s ease-out;
}

@media (min-width: 500px) {
       .Modal {
              position: fixed;
              width: 75%;
              height: 50%;
              z-index: 500;
              top: 10%;
              left: 15%;
              transition: opacity 0.3s ease-out;
       }
}

.Loading {
       background-color: rgba(0, 0, 0, -0.5);
       border: none;
       box-shadow: none;
}
