.reminder-container {
       width: 100%;
       height: 100%;
       box-sizing: border-box;
       padding: 0.5rem 0 0 0.5rem;
       position: absolute;
       background: #403d3d;
       z-index: 2;
       margin-left: 395px;
       transition: margin-left 0.3s;
}

.reminder-container.container--show {
       margin: 0;
       transition: margin 0.3s;
}

.reminder-container-search {
       position: fixed;
       overflow-y: auto;
}

.container-header {
       padding-left: 0.6rem;
}

.reminder-btn-return {
       display: block;
}

.container-btn-navigate-before {
       padding: 6px 8px 6px 0px;
}

.reminder__btn-lists {
       border: none;
       color: white;
       background-color: transparent;
       height: 2rem;
       width: 5rem;
       justify-content: flex-start;
}

.reminder__btn-lists-icon {
       font-size: 38px;
       vertical-align: middle;
}

.reminder__container-search-item {
       padding: 0 0 0.5rem 0.6rem;
       /* padding-bottom: 0.5rem; */
       margin-bottom: 0.5rem;
       border-bottom: 2px solid grey;
}

.reminder__container-search-item > div:nth-last-child(1) > .reminder__reminder-row {
       border-bottom-style: none;
}

.reminder__todo-title {
       color: grey;
       padding-left: 0.2rem;
       margin-top: 0;
}

.reminder__no-reminder {
       font-size: 2rem;
       position: absolute;
       top: 50%;
       left: 50%;
       margin-left: -125px;
       color: grey;
}

.reminder__btn-radio-container {
       display: inline-block;
       /* width: 100%; */
}

.reminder__btn-radio {
       /* float: left; */
       /* vertical-align: middle; */
       height: 20px;
}

.reminder__btn-radio--hide {
       vertical-align: middle;
       opacity: 0;
       /* transition: opacity 0.5s; */
}

.reminder__row-container {
       display: inline-flex;
       align-items: center;
       width: 100%;
}

.reminder__reminder-row {
       border-bottom: 1px solid grey;
       padding: 0.4rem 0;
       display: inline-block;
       /* width: calc(100% - 21px); */
       width: 100%;
}

.reminder__reminder-row--hide {
       /* display: none; */
       opacity: 0;
       transition: opacity 0.5s;
}

.reminder__reminder-item {
       /* list-style-type: none; */
       color: grey;
       font-size: 0.9rem;
       background-color: transparent;
       border: none;
       outline: none;
}

.reminder__footer {
       width: 100%;
       height: 50px;
       position: absolute;
       bottom: 0;
       right: 0;
       -webkit-backdrop-filter: blur(40px);
       backdrop-filter: blur(40px);
       z-index: 2;
       background: #312f2f;
}

.reminder__footer-btn-add {
       font-size: 0.9rem;
       border: none;
       background-color: transparent;
       color: #4b4bff;
       outline: none;
       cursor: pointer;
       position: absolute;
       left: 5px;
       top: 5px;
}

.reminder__footer-btn-add:disabled {
       pointer-events: none;
       opacity: 0.7;
       color: black;
}

.newInput {
       display: block;
}

.hide {
       display: none;
}

@media (min-width: 500px) {
       .reminder-container {
              width: auto;
              position: relative;
              min-width: 251px;
              padding: 0.5rem 0 0 0.6rem;
              margin-left: 29%;
              z-index: 1;
       }

       .reminder-container.container--show {
              margin-left: 29%;
       }

       .reminder-container-search {
              width: auto;
              position: relative;
              min-width: 251px;
              padding: 0;
              margin-left: 29%;
              z-index: 1;
       }

       .reminder-btn-return {
              display: none;
       }
}
