.reminder-container {
       width: 100vw;
       height: 100vh;
       box-sizing: border-box;
       padding: 0.5rem 0 0 0.5rem;
       position: absolute;
       background: #403d3d;
       z-index: 2;
       margin-left: 395px;
       transition: margin-left 0.3s;
}

.reminder-container.container--show {
       margin: 0;
       transition: margin 0.3s;
}

.container-btn-navigate-before {
       padding: 6px 8px 6px 0px;
}

.reminder__btn-lists {
       border: none;
       color: white;
       background-color: transparent;
       height: 2rem;
       width: 5rem;
       justify-content: flex-start;
}

.reminder__btn-lists-icon {
       /* top: 28px;
       left: 7px; */

       font-size: 38px;
       vertical-align: middle;
}

.reminder__todo-title {
       color: grey;
       padding-left: 0.2rem;
       margin-top: 0;
}

.reminder__no-reminder {
       font-size: 2rem;
       position: absolute;
       top: 50%;
       left: 50%;
       margin-left: -125px;
       color: grey;
}

.reminder__btn-radio-container {
       display: inline-block;
}

.reminder__btn-radio {
       /* float: left; */
       vertical-align: middle;
       height: 20px;
}

.reminder__btn-radio--hide {
       vertical-align: middle;
       opacity: 0;
       /* transition: opacity 0.5s; */
}

.reminder__reminder-row {
       border-bottom: 1px solid grey;
       padding-bottom: 0.4rem;
       display: inline-block;
       width: calc(100% - 21px);
}

.reminder__reminder-row--hide {
       /* display: none; */
       opacity: 0;
       transition: opacity 0.5s;
}

.reminder__reminder-item {
       /* list-style-type: none; */
       color: grey;
       font-size: 0.9rem;
       background-color: transparent;
       border: none;
       outline: none;
}

.reminder__footer {
       width: 100vw;
       height: 50px;
       position: absolute;
       bottom: 0;
       right: 0;
       /* -webkit-backdrop-filter: blur(40px);
       backdrop-filter: blur(40px); */
       margin-left: 395px;
       transition: margin-left 0.3s;
       z-index: 2;
       background: #312f2f;
}

.reminder__footer.footer--show {
       margin: 0;
       transition: margin 0.3s;
}

.reminder__footer-btn-add {
       font-size: 0.9rem;
       border: none;
       background-color: transparent;
       color: #4b4bff;
       outline: none;
       cursor: pointer;
       position: fixed;
       left: 5px;
       top: 5px;
}

.reminder__footer-btn-add:disabled {
       pointer-events: none;
       opacity: 0.7;
       color: black;
}

.newInput {
       display: block;
}

.hide {
       display: none;
}

@media (min-width: 500px) {
       .reminder-container {
              position: relative;
              min-width: 251px;
              padding: 0.5rem 0 0 0.6rem;
              margin-left: 29%;
              z-index: 1;
       }

       .reminder-container.container--show {
              margin-left: 29%;
       }

       .reminder__footer {
              margin-left: 29%;
              z-index: 1;
       }

       .reminder__footer.footer--show {
              margin-left: 29%;
       }
}
