.sidebar {
       width: 100%;
       max-width: 390px;
       height: 100%;
       padding: 0 1rem;
       position: absolute;
       color: #f0e8e8;
       background-color: #1d1c1c;
       overflow-y: auto;
       margin: 0;
       transition: margin 0.3s;
       padding-bottom: 53px;
}

// .sidebar.sidebar--hide {
//        margin-left: -395px;
//        transition: margin-left 0.3s;
// }

.sidebar .sidebar-lists > div:nth-of-type(1) {
       border-top-left-radius: 8px;
       border-top-right-radius: 8px;
}
.sidebar .sidebar-lists > div:nth-last-child(1) {
       border-bottom-left-radius: 8px;
       border-bottom-right-radius: 8px;
       border-bottom: transparent;
}

.sidebar__search {
       position: relative;
}
.sidebar__search input {
       text-indent: 30px;
}

.sidebar__icon {
       position: absolute;
       top: 28px;
       left: 7px;
       font-size: 18px;
}

.sidebar__searchbox {
       margin: 1rem 0;
       height: 30px;
       width: 100%;
       border-radius: 10px;
       border-color: transparent;
       background-color: #403d3d;
       outline: none;
       font-size: 17px;
}

.sidebar__label {
       margin-bottom: 10px;
}

.sidebar__listItems {
       /* list-style-type: none; */
       border-bottom: 1px solid grey;
       padding: 0.5em 0.5em;
       display: flex;
       justify-content: space-between;
       background-color: #444444;
       align-items: center;
}

.sidebar__listItems.active,
.sidebar__listItems:hover {
       background-color: grey;
}

.sidebar_listItems-count {
       display: inline-block;
       margin-left: auto;
}

.footer {
       width: 100%;
       max-width: 390px;
       height: 50px;
       position: absolute;
       bottom: 0;
       left: 0;
       -webkit-backdrop-filter: blur(40px);
       backdrop-filter: blur(40px);
       margin: 0;
       transition: margin 0.3s;
       background: #1d1c1c;
       mix-blend-mode: difference;
}

// .footer.footer--hide {
//        margin-left: -395px;
//        transition: margin-left 0.3s;
// }

.footer__btn {
       font-size: 0.9rem;
       border: none;
       background-color: transparent;
       color: #4b4bff;
       outline: none;
       cursor: pointer;
       position: absolute;
       right: 5px;
       top: 5px;
}

/* width */
::-webkit-scrollbar {
       width: 6px;
}
/* Track */
/* ::-webkit-scrollbar-track {
       background: #f1f1f1;
       border-radius: 20px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
       background: #888;
       border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
       background: #555;
}

@media (min-width: 500px) {
       .sidebar {
              max-width: 29%;
              height: 100%;
              min-width: 251px;
              overflow-y: auto;
              border-right: 1px solid black;
              display: block;
       }

       .footer {
              max-width: 29%;
              min-width: 251px;
       }
}
